.categories {
  background-color: rgb(247, 187, 9);
  margin-top: 20px;
  font-weight: bolder;
  height: 69px;
  position: relative;
}
.categories p {
    padding-top: 20px;
  }
/* hover danh muc san pham */

 
  .subnav:hover .subnav-content {
    display: block;
  }  
/*  */
.slidebar {
    width: 219px;
    height: 100vh;
    left: 77px;
  
  }
  
 .subnav-content {
    display: none;
    position: absolute;
    left: 100px;
    width: 220px;
    height: 100%;
    z-index: 1;
    background: white;
  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-bar {
  backdrop-filter: blur(15px);
}
.slide-bar .menu {
  width: 100%;
  padding: 0;
  list-style: none;
}
.slide-bar .menu .item {
  position: relative;
  cursor: pointer;
}
.slide-bar .menu .item p {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  display: block;
  line-height: 30px;
}
.slide-bar .menu .item p:hover {
  transition: 0.3s ease;
}
/* .slide-bar .menu .item i{
    margin-right: 0px;
  } */

.slide-bar .menu .item p .dropdown {
  position: absolute;
  right: 0;
  margin-top: 5px;
  transition: 0.3s ease;
  color: black;
}
.slide-bar .menu .item .sub-menu {
  display: none;
}
.slide-bar .menu .item .sub-menu p {
  padding-left: 10px;
}


/* USER option */
header .user {
  position: relative;
}
header .user div {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
header .user_option {
  position: absolute;
  width: 400px;
  height: 360px;
  background: white;
  top: 15%;
  right: 2%;
  border-radius: 5px;
  padding: 20px 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.25s;
  display: none;
  box-shadow: -1px -1px 3px black;
}
header .user_option .top_user_option {
  height: 10%;
  color: black;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .user_option .top_user_option i {
  font-size: 30px;
  color: black;
  z-index: 2;
  position: absolute;
  top: -5px;
  right: 0px;
  font-size: 25px;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.25s;
}
header .user_option .top_user_option i:hover {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
header .user_option .mid_user_option {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #454445;
}
header .user_option .mid_user_option .avatar_display {
  background: white;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
}
header .user_option .bot_user_option {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 50px;
  flex-wrap: wrap;
}
header .user_option .bot_user_option .signout_btn {
  background: rgba(255, 255, 255, 0.8);
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  transition: 0.25s;
}
header .user_option .bot_user_option .signout_btn span,
header .user_option .bot_user_option .view_profile span {
  margin-left: 10px;
}

header .user_option .bot_user_option .view_profile {
  background: rgba(255, 255, 255, 0.8);
  flex: 1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  transition: 0.25s;
}

header .user_option .bot_user_option .signout_btn:hover,
header .user_option .bot_user_option .view_profile:hover {
  background: black;
  color: white;
}

.user_option.show_user_option {
  display: flex;
}
